@model PopulatingDependentDropdownListFromDb.Repositories.CountyRepo
@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<table>
    <tr>
        <td>
            <label>County</label>
        </td>
        <td>
            @Html.DropDownListFor(x => x.countyNames, Model.countyNames, "--Select--", new { @id = "ddlState" });
        </td>
    </tr>
</table> 